/* Common CSS */

.btn-primary-1{
    background-color: rgb(180, 244, 97);
    width: 6rem;
    padding: 10px;
    border-radius: 8px;
    color: black;
    font-weight: bold;
}

*{
    font-family: "Lexend", sans-serif;
}

.banner{
    backdrop-filter: blur(5px);
}

.header{
    background-color: rgba(243, 244, 246, 0.5);
    backdrop-filter: blur(5px);
}

